[Unit]
Description=Command pipe to execute through netns
After=netns-setup.service

[Service]
ExecStart=/etc/init.d/netns-cmdpipe start
ExecStop=/etc/init.d/netns-cmdpipe stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

