[Unit]
Description=VPN Unlimited daemon through netns
Requires=netns-cmdpipe.service

[Service]
ExecStart=/etc/init.d/vpn-unlimited start
ExecStop=/etc/init.d/vpn-unlimited stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
